.box {
  width: 50px;
  height: 50px;
}
.box + .box {
  margin-top: 20px;
}
.box--red {
  background-color: red;
}
.box--coral {
  background-color: coral;
}
.box--blue {
  background-color: blue;
}

.start-button {
  margin-top: 50px;
  width: 60px;
  height: 30px;
}

.case {
  margin-top: 20px;
  border-bottom: 2px solid black;
}
